.awcache/
.github/
.nyc_output/

config/
deploy/
node_modules/
out/cache/
out/coverage/
out/coverage-*
out/docs/
out/test/
out/typings/
out/*.db
out/*.html
out/*.json
out/test-*
out/tmp/
scripts/
src/
temp/
test/
vendor/

.api-extractor.json
.codeclimate.yml
.dockerignore
.eslintrc.json
.mocharc.json
.reporters.json

Containerfile.*
Makefile
esbuild.js
serve.js
tsconfig.json
yarn-*
